/* Fontes usadas no projeto */
/*
    font-family: 'Cinzel', serif;
    font-family: "Jost", sans-serif;
*/

body {
  background-color: #171412;
  color: #f7f4f3;
  font-family: "Jost", sans-serif;
  padding: 0;
  margin: 0;
}

@keyframes globeSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.infinite-rotate {
  animation: globeSpin infinite 35s linear;
}
